   
    body {
            font-family: 'Monoton', cursive;
            background-image: url(../images/cogus001.webp);
            background-color: rgb(30, 16, 92);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            width: 100vw;
            height: 100%;
        }
        
        section{
            
            margin-bottom: -4em;
         
        }
        .hexgap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            width: 100vw;
            height: 100%;
        }
        
    
        .wrap{
          filter: drop-shadow(0px 0px 10px rgb(87, 84, 84));
      }
      .hexagon{
                background-color: rgba(41, 3, 77, 0.247);
                
                background-size: cover;
                width: 300px;
                height: 300px;
                clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
    }
.um {
    background-image: url(../images/marmelo.jpg);
}
.dois {
    background-image: url(../images/ceuesclaro.jpg);
}
.tres {
    background-image: url(../images/cida.jpg);
}
.quatro {
    background-image: url(../images/santacatarina.jpg);
}
.cinco {
    background-image: url(../images/abstrato.jpg);
}
.seis {
    background-image: url(../images/abstrato2.jpg);
}
.sete {
    background-image: url(../images/abstrato3.JPG);
}
.oito {
  background-image: url(../images/autoretrato.jpg);
}
.nove {
  background-image: url(../images/autoretrato2.JPG);
}
.dez {
  background-image: url(../images/autoretrato3.jpg);
}
.onze {
  background-image: url(../images/caminhomont.jpg);
}
.doze {
  background-image: url(../images/ceubiris.jpg);
}
.trese {
  background-image: url(../images/chico2.jpg);
}
.quatorz {
  background-image: url(../images/dragoncastle.jpg);
}
.quinze {
  background-image: url(../images/estrelados.JPG);
}
.dezeseis {
  background-image: url(../images/europa.jpg);
}
.dezesete {
  background-image: url(../images/face02.jpg);
}
.dezoito {
  background-image: url(../images/fazenda.jpg);
}
.dezenove {
  background-image: url(../images/fiordes.jpg);
}
.vinte {
  background-image: url(../images/jazztrio.jpg);
}
.vinteum {
  background-image: url(../images/lagoadoperi.jpg);
}
.vintedois {
  background-image: url(../images/lagoa.JPG);
}
.vintetres {
  background-image: url(../images/mago.jpg);
}
.vintequatro {
  background-image: url(../images/poa.jpg);
}
.vintecinco {
  background-image: url(../images/porta.JPG);
}
.vinteseis {
  background-image: url(../images/serra.jpg);
}
.vintesete {
  background-image: url(../images/sol.jpg);
}
.vinteoito {
  background-image: url(../images/surreal.jpg);
}
.vintenove {
  background-image: url(../images/vaso.JPG);
}
.trinta {
  background-image: url(../images/torres.jpg);
}
.trintaum {
  background-image: url(../images/magoilheus.jpg);
}
.trintadois {
  background-image: url(../images/abstrato4.jpg);
}
.trintatres {
  background-image: url(../images/face666.jpg);
}


.topo{
    display: grid;
    justify-items: center;
    margin-bottom: 35vh;
    width: 100vw;
}
.title{
    font-size: 5em;
    color: darkorange;
    text-shadow: 1px 1px 2px darkorange, 0 0 1em darkorange, 0 0 0.2em darkorange;
    }
.title:hover{
    text-shadow: 1px 1px 2px darkorange, 0 0 1em rgb(243, 194, 135), 0 0 0.2em darkorange;
}
.subtitle{
    font-family: fantasy;
    font-size: 1.5em;
    color: rgb(245, 194, 132);
    margin-top: -1em;
    
}


.header{
    width:100%;
    height:1em;
    margin-bottom: 20em;
    position:sticky;
    top:0;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    z-index: 99;
}
.linked{
    font-family: Arial;
    font-weight: 100;
    text-decoration: none;
    color:white;
    font-size: .8em;
    margin-right: 4em;
}
.linked:hover{
    color:darkorange;
}
.wrap:hover{
  filter: drop-shadow(0px 0px 10px rgba(247, 165, 15, 0.89)); 
}
.texfot{
    margin-top: 15vh;
    font-family: Arial;
    font-weight: 100;
    color:white;
    font-size: .8em;
    width:100%;
    height:1em;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    bottom: 0;
}
.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (max-width:40em) {
    .hexgap{
      display: grid;
      align-items: center;
      justify-content: center;}
      .title{
        font-size:2.5em ;
      }
  }
